@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 0; /* pure black */
    --foreground: 225 225 225; /* light text */
    --muted: 120 175 235; /* soft muted blue for subtle elements */
    --accent: 254 254 91; /* vivid neon yellow for high contrast */
    /* #FEFE5B for accent */
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .custom-bg {
    @apply bg-background/20 border border-accent/30 border-solid backdrop-blur-[6px]
        shadow-glass-inset
        hover:shadow-glass-sm;
  }
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}
